[submodule "srv-pagamento"]
	path = srv-pagamento
	url = https://github.com/DiogoHumberto/srv-pagamento.git
	branch = master
[submodule "srv-pedido"]
	path = srv-pedido
	url = https://github.com/DiogoHumberto/srv-pedido.git
	branch = master
